.search
  min-width: 400px
  height: 25px
  color: black
  font-size: 14px
  background-color: white
  border-radius: 5px
  outline: none
  padding-left: 5px

button
  border: none
  position: relative
  width: 30px
  height: 20px
  background: white
  top: 6px
  left: -34px

.search_icon
  position: relative
  width: 20px
  height: 20px

@media screen and (max-width: 1300px)
  .search
    min-width: 260px
    max-width: 80%

