.card .title{
    font-size: 18px;
}
.card .genres{
    font-size: 14px;
}
.film_cover {
    max-height: 290px;
}
.film_cover img {
width: 100%;

}
.film_cover .play_film {
    visibility: hidden;
    width: 90px;
    position: relative;
    bottom: 270px;
    left: calc(50% - 45px);

}
.film_cover:hover .play_film {
    visibility: visible;
    width: 90px;
    bottom: 200px;
    left: calc(50% - 45px);
    cursor: pointer;
}

.rating {
    position: relative;
    top: 35px;
    left: -5px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
}
.rating_up {
    background-color: green;
}
.rating_down {
    background-color: gray;
}