.actor_page
  margin-top: 15px

.actor_info
  display: grid
  grid-template-columns: 300px 1fr
  grid-gap: 10px

.photo_grid
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-gap: 10px

.known_by
  display: grid
  grid-template-columns: repeat(6, 1fr)
  grid-gap: 10px
