.film_info{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
}
.genre {
    background-color: #66bf3c;
    border-radius: 5px;
    display: inline;
    margin-right: 5px;
    padding: 0 10px;
}

.crew_box_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crew_box_head button {
    border: 2px solid white;
    border-radius: 5px;
    height: 26px;
    background-color: black;
    color: white;
}
.crew_box_head .active{
    background-color: white;
    color: black;
}
.crew_box_cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.recomendations_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}