.people_title {
    font-size: 20px;
}
.people_cover{
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
}
.people_img {
    width: 153px;
    height: 250px;
    display: flex;
}